# Basic Assignment

Q1 What will be output of printing following calculations
a. 1.5e200 *2.0e210
b. 3.4e-320 / 1e100
Explain the output
Ans) In floating point 
10^-308 to 10^+308 with 16 to 17 digits of precision
Beyond this limit there is arithmetic overflow (inf) or arithmetic underflow (0.0) values assigned

In [4]:
1.5e200 *2.0e210

inf

In [5]:
3.4e-320 / 1e100

0.0

Q2. What is output of printing following
a. 1/3
b. format(1/3, '.3f')
c. format(1/3, '.1f')
d. 6*1/3
e. 1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3

In [6]:
1/3

0.3333333333333333

In [8]:
format(1/3,'.3f')

'0.333'

In [9]:
format(1/3,'.1f')

'0.3'

In [10]:
6*1/3 # associativity of this is from left to right

2.0

In [12]:
1/3 + 1/3 + 1/3 + 1/3 + 1/3 + 1/3 #as there is limitation of hardware to store the decimal number

1.9999999999999998

Q3. In above question what is difference between output of a and b ? also, d and e?
Ans In b there is format specification upto which decimal places we want the output. 
In e division have more precedence then addition so when there is division 1/3 then due to hardware limitation it stores not exact value so when we sum every thing then addition become less than 2

Q4. Study how format function works to print floating point values and strings . Then solve following using format function
a. print only first 5 decimal values of 22/7 (hint: see b of Q3)
b. print Hello string with 5 spaces on right side, 'Hello     ' ( hint: use <)
c. print Hello string with 5 spaces on left side, '     Hello' ( hint: use <) 
d. print Hello string with 5 '#' on left side and 5 '#' on right side, '     Hello     ' ( hint: use ^ and # as fill value)
e. print 10 spaces (hint: give 10 as argument)

In [14]:
format(22/7,'5f')

'3.142857'

In [17]:
print('Hello',end='     ')

Hello

In [22]:
print("",'Hello',sep='     ' )

     Hello

In [25]:
print("",'Hello',"",sep='#####')

#####Hello#####

In [26]:
print("",sep="          ")

In [29]:
format("Hello","<10")

'Hello     '

In [32]:
format("Hello",">10")

'     Hello'

In [38]:
format("Hello","#^15")

'#####Hello#####'

Q5. We can use ord() to print ASCII value of single character and chr() to convert given ASCII value to character. 
a. find ASCII of characters'a' , 'A' , 'z' , 'Z' using ord() one by one
b. find ASCII of characters '0', '9', ' ', "\n" , "\t" using ord() one by one
c. Find characters for ASCII values 35, 67, 50, 99
d. Where ASCII value begin for lower case characters where it ends? also find same for digits and upper case characters

In [33]:
ascii1=ord('a')
ascii2=ord('A')
ascii3=ord('z')
ascii4=ord('Z')

print(ascii1,ascii2,ascii3,ascii4)

97 65 122 90

In [34]:
ascii1=ord('0')
ascii2=ord('9')
ascii3=ord(' ')
ascii4=ord('\n')
ascii5=ord('\t')

print(ascii1,ascii2,ascii3,ascii4,ascii5)

48 57 32 10 9

In [37]:
chracter1 = chr(35)
chracter2 = chr(67)
chracter3 = chr(50)
chracter4 = chr(99)

print(chracter1)
print(chracter2)
print(chracter3)
print(chracter4)

#
C
2
c

In [41]:
a=ord('a')
z=ord('z')
A=ord('A')
Z=ord('Z')
one=ord('1')

print(a,A,z,Z,one)

97 65 122 90 49

Q6. Find how special chracters work inside print function 
a. print("abc","\n","bcd")
b. print("abc\nbcd")
c. print(1,'\n',2)
d. print("hello \n\n!!")
e. print("This is '\t' means tab")
f. How many spaces are printed using \t? Ans 4 spaces
g. print("This","is","different",sep='\t') 
h. print("This","is","different",sep='#')
i. print("This","is","different",sep='\n') 
j. print("This","is","different",end='\n')

In [44]:
print("abc","\n","bcd") # seperator is bydefault is space

abc
 bcd

In [45]:
print("abc\nbcd")

abc
bcd

In [46]:
 print(1,'\n',2)

1
 2

In [47]:
print("hello \n\n!!")

hello

!!

In [48]:
print("This is '\t' means tab")

This is '	' means tab

In [52]:
print("This","is","different",sep='\t') 
print("This","is","different",sep='#')
print("This","is","different",sep='\n') 
print("This","is","different",end='\n')

This	is	different
This#is#different
This
is
different
This is different

Q7. What is output of following statements and understand how operators work
a. 10 / 2 - 5.0
b. 10 // 2.0 - 5.0
c. 101 / 3 - 33.666666666666664
d. 101 // 3 - 33
e. 101 % 3 - 2
f. 2 ** 4 - 16
g. 3 ** 2 - 9
h. abs(-10) # give absolute value - 10
i. divmod(101,3) # divmod gives two values , interger division and remainder - (33,2)
j. 8 << 1 - 16
k. 8 << 2 - 32
l. 32 >> 2 - 8
m. 16 >> 1 - 8

In [63]:
32>>2

8

Q8. Write a program to take marks of 3 subjects from a student. Calculate total in variable name 'total'.
(NOTE: Don't use sum as variable name, it is built in function in python)

In [69]:
subject1 = int(input("Enter the marks of subject 1 "))
subject2 = int(input("Enter the marks of subject 2 "))
subject3 = int(input("Enter the marks of subject 3 "))
total = subject1 + subject2 + subject3
print(total)

Enter the marks of subject 1 10
Enter the marks of subject 2 20
Enter the marks of subject 3 30
60

Q9. Manually calculate output of following expressions using precedence and associativity rules 
and then verify output using python shell
a. 2 + 3 * (4 -1) -> 11
b. 2 + ((3 *4) - 8) -> 6
c. (2 + 3) * 4 -> 20 
d. -10 + 25 / (16 + 12) -> -9.1
e. 2 ** 2 ** 2 -> 16
f. (3 ** 2) ** 3 -> 729
g. x = y = 3 + 5 -> 8
h. 8/2*(2+2) -> 16.0

Q10. Check output of following 
a. x = y = 10
b. x1 = 20 = y1 # can not assign to literal

Q11. What is output of following
a. x=10
y=34.4
print(x and y)
print(x or y)

In [83]:
x=10
y=34.4
print(x and y)
print(x or y)

34.4
10

# If-Else Questions

Q1. A student will not be allowed to sit in exam if his/her attendence is less than 75%.  
Take following input from user Number of classes held Number of classes attended. And print percentage of class attended  
Is student is allowed to sit in exam or not.

In [86]:
numberOfClassesHeld = int(input("Enter the number of classes Held"))
numberOfClassesAttended = int(input("Enter the number of classes attended"))
attendence = ( numberOfClassesAttended / numberOfClassesHeld ) * 100
if attendence<75:
    print("Student is not allowed to sit in exam")
else:
    print("Student can give the exam")

Enter the number of classes Held100
Enter the number of classes attended75
Student can give the exam

Q2. accept amount from user and find the minimum number notes required to get the amount amount =512  
Notes: 2000,500,100,50,10,5,2,1  

500-1 note  
10  - 1 note  
2-  1 coin  

amount=20550  
2000 – 10 note  
500 – 1 note  
50 -1 note

In [48]:
amount = int(input("Enter the amount"))

if amount>2000:
    num=amount//2000
    amount=amount-num*2000
    print("2000 notes required",num)
if amount>500:
    num=amount//500
    amount=amount-num*500
    print("500 notes required",num)
if amount>100:
    num=amount//100
    amount=amount-num*100
    print("100 notes required",num)
if amount>50:
    num=amount//50
    amount=amount-num*50
    print("50 notes required",num)
if amount>10:
    num=amount//10
    amount=amount-num*10
    print("10 notes required",num)
if amount>5:
    num=amount//5
    amount=amount-num*5
    print("5 notes required",num)
if amount>2:
    num=amount//2
    amount=amount-num*2
    print("2 notes required",num)
if amount>1:
    num=amount//1
    amount=amount-num*1
    print("1 notes required",num)

Enter the amount512
500 notes required 1
10 notes required 1
1 notes required 2

Q3.	Modify the above question Q1 to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [8]:
numberOfClassesHeld = int(input("Enter the number of classes Held"))
numberOfClassesAttended = int(input("Enter the number of classes attended"))
attendence = ( numberOfClassesAttended / numberOfClassesHeld ) * 100
if attendence<75:
    medicalkCause = input("Do you have medical cause 'Y' or 'N'")
    if medicalkCause == 'Y':
        print("Student can give the exam")
    else:
        print("Student is not allowed to sit in exam")
else: 
    print("Student can give the exam")

Enter the number of classes Held100
Enter the number of classes attended73
Do you have medical cause 'Y' or 'N'Y
Student can give the exam

Q4.	A school has following rules for grading system:  
a.	Below 25 - F  
b.	25 to 45 - E  
c.	45 to 50 - D  
d.	50 to 60 - C  
e.	60 to 80 - B  
f.	Above 80 - A  
Ask user to enter marks and print the corresponding grade.

In [11]:
marks = int(input("Enter the marks"))
if marks>80:
    print("Grade A")
elif 80>=marks>60:
    print("Grade B")
elif 60>=marks>50:
    print("Grade C")
elif 50>=marks>45:
    print("Grade D")
elif 45>=marks>=25:
    print("Grade E")
else:
    print("Grade F")

Enter the marks1
Grade F

Q5.	  If  x = 2 y = 5 z = 0  then find values of the following expressions and Print the output of following statements  
a.	x == 2  
b.	x != 5  
c.	x != 5 & y >= 5  
d.	z != 0 | x == 2  
e.	not(y < 10)

In [21]:
x=2
y=5
z=0
print(x==2)
print(x!=5)
print(x!=5 & y>=5)
print(z!=0 | x==2)
print(not(y<10))

True
True
True
True
False

Q6.	Accept number from user and check whether it is divisible by 5 and 11 if divisible then display appropriate message.

In [25]:
number = int(input("Enter the number "))
if number%5==0 & number%11== 0:
    print(number,"is divisible by 5 and 11")
else:
    print(number,"is not divisible by 5 and 11")

Enter the number 55
55 is divisible by 5 and 11

Q7.	Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :  
             Unit                                    Price    
First 100 units                                       no charge  
Next 100 units                                        Rs 5 per unit  
After 200 units                                       Rs 10 per unit  
(For example if input unit is 350 than total bill amount is Rs2000)

In [81]:
electricBillUnit = int(input("Enter the electricity bill "))
charges=0
if electricBillUnit<=100:
    charges=0
if electricBillUnit<=200:
    charges = 5*(electricBillUnit-100)
if electricBillUnit>200:
    charges = (5*100) + 10*(electricBillUnit-200)

print(charges)

Enter the electricity bill 340
1900

Q8.	Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [59]:
number = int(input("Enter the number "))
if number%10 % 3 == 0:
    print(number%10," last digit of ",number," is divisible by 3")
else:
    print(number%10," last digit of ",number," not divisible by 3")

Enter the number 123
3  last digit of  123  is divisible by 3

Q9.	Write a program to check whether an years is leap year or not the year is leap if it satisfies following condition  
•	It the year is divisible by 100 o If it is divisible by 100, then it should also be divisible by 400 then it is leap year  
•	otherwise, all other years divisible by 4 and not divisible by 100 then it is leap year.

In [80]:
year = int(input("Enter the year "))
if (year%100 == 0 and year%400 == 0) or (year%4==0 and year%100 !=0):
    print(year ," is a leap year")
else:
    print(year, "is not yeap year")

Enter the year 2023
2023 is not yeap year

Q10. Write a program to accept the price of a bike and display the road tax and insurance to be paid according to the following criteria . also display total amount to be paid.  
      
        Cost price (in Rs)           Tax                Inssurance  
        > 100000                     15 %                   20%  
        > 50000 and <= 100000        10%                    8%  
        <= 50000                     5%                     5%

In [87]:
price = int(input("Enter the price"))
amount=0
if price > 100000:
    amount = (15/100)*price + (20/100)*price
elif 100000>=price>50000:
    amount = (10/100)*price + (8/100)*price
else:
    amount = (5/100)*price + (5/100)*price
print(amount)

Enter the price50010
9001.8

# Loop Questions

Q1.	Accept 10 integers from user  and print their average value on the screen

In [3]:
print("Enter the 10 integer for calculation of average")
total=0
for i in range(10):
    num = int(input("Enter the number"))
    total = num + total
print(total/10)

Enter the 10 integer for calculation of average
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
3.0

Q2.	Print the following patterns using loop : 
a. 
* 
** 
***
****
b. 
    *                    
  ***                
***** 
  ***
    * 
c. 
1010101          
 10101  
  101   
   1    

d.
1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5

In [102]:
number = int(input("Enter the number"))
for i in range(number):
    for j in range(i+1):
        print("*",end="")
    print("\n")

Enter the number4
*

**

***

****

In [21]:
n = int(input("Enter the number"))
for i in range(0,n,1):
    print(" "*i,"10"*(n-i-1),'1'*1,sep="")
print("",end="\n")

Enter the number5
101010101
 1010101
  10101
   101
    1

In [37]:
n = int(input("Enter the number"))
for i in range(1,n,2):
    print(" "*(n-i),"*"*(i))
for i in range(0,n,2):
    print(" "*(i),"*"*(n-i))

Enter the number5
     *
   ***
 *****
   ***
     *

In [14]:
number = int(input("Enter the number"))
for i in range(number):
    for j in range(1,i+2):
        print(j,end=" ")
    print("",end="\n")

Enter the number5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q3.	Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [41]:
num1=3
num2=15
for i in range(max(num1,num2),0,-1):
    if num1%i==0 and num2%i==0:
        gcd=i
        break
print(gcd)

3

In [42]:
num1=1
num2=2
max_num = max(num1,num2)
if max_num%num1==0 and max_num%num2==0:
    lcm=max_num
for i in range(max_num,num1*num2+1):
    if i%num1==0 and i%num2==0:
        lcm=i
        break
print(lcm)

2

Q4. Take integer inputs from user until he/she presses q ( Ask to press q to quit after every integer input ). Print average and product of all numbers.

In [88]:
quit='n'
average=0
product=1
count=0
total=0
while quit!='q' and quit!='Q':
        number = int(input("Enter the input"))
        count = count+1
        product = product * number
        total = total + number
        average = total/count
        quit = input("due you want to quit press q ")
print("Average is : ",average,"Product is : ",product)

total : 0
Enter the input1
due you want to quit press q q
Average is :  1.0 Product is :  1

Q5.	Given a number count the total number of digits in a number and also find sum of digits of the number.

In [63]:
number = input("Enter the number")
count = len(number)
print(count)
total=0
for i in number:
    total = total + int(i)
print(total)

Enter the number12121
5
7

Q6. To display the cube of the number upto given an integer. If the given integer is 5, then display cube of 1 to 4.

In [90]:
number = int(input("Enter the number upto which you want the cube"))
for i in range(1,number+1):
    print("Cube of",i,"is",i**3)

Enter the number upto which you want the cube5
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125

Q7.	Accept 20 numbers from user and display sum of only even numbers.

In [93]:
print("Enter 20 numbers")
evenTotal=0
for i in range(20):
    num=int(input("Enter the number"))
    if num%2==0:
        evenTotal = evenTotal + num
print(evenTotal)

Enter 20 numbers
Enter the number1
Enter the number2
Enter the number3
Enter the number1
Enter the number1
Enter the number1
Enter the number1
Enter the number1
Enter the number12
Enter the number1
Enter the number1
Enter the number2
Enter the number1
Enter the number2
Enter the number1
Enter the number2
Enter the number1
Enter the number2
Enter the number1
Enter the number2
24

Q8.	Ask user number of terms to be generated of a series. 
generate numbers for the following series and find its addition 
[9 + 99 + 999 + 9999+……..]

In [70]:
term = input("Enter the term")
sum=0
for i in range(1,int(term)+1):
    sum = sum + int('9'*i)
print(sum)

Enter the term5
111105

Q9.	Write a program in python to display the sum of the series [ 1+x+x^2/2!+x^3/3!+....]. Go to the editor 
Test Data : 
Input the value of x :3 Input number of terms : 5 Expected Output : 
The sum is : 16.375000

In [72]:
import math
x=int(input("enter a number"))
n=int(input("enter number of term"))
sum=0
for i in range(n):
    sum = sum + (x**i/math.factorial(i))
print(sum)

enter a number3
enter number of term5
16.375

Q10.Write a program in python to find the sum of the series [ x - x^3 + x^5 –x^7+x^9-x^11+ ......]. Go to the editor 
Test Data : 
Input the value of x :2 Input number of terms : 5 Expected Output : 
The values of the series: 
2 
-8 
32 
-128 
512 
The sum = 410

In [ ]:
import math
x=int(input("enter a number"))
n=int(input("enter number of term"))
sum=0
a=0
for i in range(1,n*2,2):
    if a==0:
        sum = sum + (x**i)
        a=1
    else:
        sum = sum - (x**i)
        a=0
print(sum)

Q11.	Take a number from user and check if it is prime or not

In [92]:
import math
num = int(input("Enter the number"))
end = math.floor(math.sqrt(num))
if num == 2:
    print(num,"is prime")
elif num%2==0:
    print(num,"is not prime")
else:
    for i in range(2,end):
        if num%i == 0:
            print(num,"is not prime")
            break
    else:
        print(num,"is prime")

Enter the number17
17 is prime

Q12. Take a number from user and print sum of all odd numbers till that number.
Ex. Enter a no : 10   
Sum of all odd numbers till 10 : 3+5+7+9  =24

In [95]:
num = int(input("Enter the number"))
sum=0
for i in range(1,num,2):
    sum=sum+i
print(sum)

Enter the number34
289

# Advanced questions

Q. Create a variable storing integer value. Print the identity of that variable. Then change value of that variable and again print the identity.
Observe both values, what is your conclusion?

In [4]:
var1 = 10
print(id(var1))
var1=20
print(id(var1))
#So as we are changing the value of the var1 so the reference of the var1 will also change as new 
#memory will be created for another value so reference will also change as integer is mutable

140713844642888
140713844643208

Q. What is PEMDAS rule ? What is BODMAS ? Is there any difference in them ?

In [ ]:
#P- Parentheses, E- Exponents, M- Multiplication, D- Division, A- Addition, and S- Subtraction.
#Bracket, Of, Division, Multiplication, Addition, and Subtraction.

Q. What is PEMDAS vs PEDMAS ? is there any difference?

In [ ]:
#P- Parentheses, E- Exponents, M- Multiplication, D- Division, A- Addition, and S- Subtraction.
#parentheses, exponents, division , multiplication , addition, subtraction