# Q1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [5]:
sampleSet = {"Yellow", "Orange", "Black"} 
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
# for x in sampleList:
#     sampleSet.add(x)
# print(sampleSet)

sampleList= set(sampleList)
sampleSet.update(sampleList)
print(sampleSet)

{'Black', 'Orange', 'Red', 'Yellow', 'orange', 'Green', 'Blue'}

# Q2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [6]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1 & set2

{30, 40, 50}

# Q3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [9]:
set1 = {10, 20, 30, 40, 50,25} 
set2 = {30, 40, 50, 60, 70,100} 

newset = { x for x in ((set1 | set2) - (set1 & set2))  }
# o/p : order is not important {70, 10, 20, 60,25,100}
print(newset)

{100, 70, 10, 20, 25, 60}

# Q4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [11]:
as1 = {10, 20, 30, 40, 50}
as2 = {30, 40, 50, 60, 70}

(as1 | as2) - (as1 & as2)

{10, 20, 60, 70}

# Q5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [33]:
as1 = {10, 20, 30, 40, 50} 
as2 = {30, 40, 50, 60, 70}
# (as1 | as2) - (as1 & as2)
# as1.add(tuple( x for x in ((as1 | as2) - (as1 & as2))))
as1 ^= as2
print(as1)

{20, 70, 10, 60}

# Q6.  Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [39]:
s="I am aditya I am a student and a Coder"
newlist=s.split(" ")
set1={ x for x in newlist}
print(newlist)
print(set1)

['I', 'am', 'aditya', 'I', 'am', 'a', 'student', 'and', 'a', 'Coder']
{'I', 'a', 'student', 'Coder', 'aditya', 'am', 'and'}

# Tuple Assignments

# Q1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [42]:
as1 = (10, 20, 30, 40, 50,60)
as1[::-1]

(60, 50, 40, 30, 20, 10)

# Q2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [44]:
as1 = ("Orange", [10, 20, 30], (5, 15, 25))
as1[1][1]

20

# Q3.Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [48]:
as1 = (10, 20, 30, 40)
a,b,c,d= as1
a,b,c,d
print(a,b,c,d, type(a))

10 20 30 40 <class 'int'>

# Q4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [50]:
as1= (11,22)
as2=(99,88)
as1,as2= as2,as1
print(as1)
print(as2)

(99, 88)
(11, 22)

# Q5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [121]:
as1= (11, 22, 33, 44, 55, 66)
# as2= set(as1)
list1 =[ x for x in as1 if (x==44) or (x==55)]
as2= tuple(list1)

as3 =tuple( x for x in as1 if (x==44) or (x==55))
print(as2)
print(as3)

(44, 55)
(44, 55)

# Q6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [52]:
as1 = (11, [22, 33], 44, 55)
as1[1][0]=200
as1[1][1]=33
print(as1)

(11, [200, 33], 44, 55)

# Q7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [55]:
a=10 
b=23
# a,b = b,a

# c=a
# a=b
# b=c

# Dictionary Assignments

# Q1.

In [68]:
as1 = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 
       'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c','q':'d', 'r':'e', 's':'f', 't':'g', 
       'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 
       'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 
       'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M', ' ':' '}
sen = "Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
list1 = [ as1[x] if (x in as1) else x for x in sen ]
s="".join(list1)
print(s)

# as1.get(x) ==> this will return None is not present key

Caesar cipher? I much prefer Caesar salad!

# Q2. Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}
a. Find out how many students are in the list \n
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour

In [78]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
print(len(people.items()))

4

In [76]:
people['Lisa']='Pink'
print(people)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple', 'Jenny': 'Pink'}

In [77]:
people.pop('Jenny')
print(people)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple'}

In [106]:
print(sorted(people))
print(people)

['Arham', 'Jenny', 'Lisa', 'Vinod']
{'Arham': 'Blue', 'Lisa': 'Yellow', 'Vinod': 'Purple', 'Jenny': 'Pink'}

# Q3

3. Write a menu driven program to practice Dictionary functions.
Write a program to accept name of a person and their vehicle and store it in a dictionary.
Ask user if they want to continue to accept multiple values.
Display following menu:
a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.
----Accept person name from user.
----Check whether person name exists in the dictionary.
----If exists show person name and vehicle name to the user.
----Confirm for deletion, if user enters y
then delete otherwise no. Display appropriate message.
c. Modify vehicle name for the person
----Accept a person name from user.
----Check whether the person’s name exists.
----If the name exists, show the person’s name and vehicle name to user.
Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.
e. Search list of people, who have given a vehicle
f. Display all person names.
g. Display all

In [19]:
dict1={'aditya':"Punch",'shivam':None}
while True:
    print(" ")
    print("""a). Add new person name and a vehicle name.
    b). Delete a person name and vehicle name from the dictionary.
    c). Modify vehicle name for the person
    d). Search vehicle for the given person’s name.
    e). Search list of people who has given a vehicle
    f). Display all person names
    g). Display all
    q). Exit""")
    print("")
    var1=input("Enter Choice :")
    match var1:
        case "a":
            name=input("Enter Name of owner : ")
            vehcile=input("Enter vehcile name : ")
            if vehcile == "":
                vehcile=None
            dict1[name]=vehcile
        case "b":
            name=input("Enter Name of owner : ")
            if name in dict1:
                val=input("Are you suru for [y/n] ? ")
                if val=="y":
                    dict1.pop(name)
                else:
                    print("No such user")
        case "c":
            name=input("Enter Name of owner whose vehicle to modify : ")
            vehcile=input("Enter vehicle name : ")
            if name in dict1:
                dict1[name]=vehcile
            else:
                print("No such user")
        case "d":
            name=input("Enter Name of owner whose vehicle to modify : ")
            if name in dict1:
                print(dict1[name])
            else:
                print("No such user")
        case "e":
            list1=list(dict1.keys())
            for x in dict1.keys():
                if dict1[x]==None:
                    print("This owner not given vehicle name :\n",x)
        case "f":
            print(dict1.keys())
        case "g":
            list1=dict1.items()
            print(list1)
            
        case "q":
            break
        case _:
            print("Choose valid choice")

a). Add new person name and a vehicle name.
    b). Delete a person name and vehicle name from the dictionary.
    c). Modify vehicle name for the person
    d). Search vehicle for the given person’s name.
    e). Search list of people who has given a vehicle
    f). Display all person names
    g). Display all
    q). Exit

Enter Choice :q

# Q4. Write a program to display following menu and do the following:
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
---- Accept a city from user search city and if found display list of trees otherwise
---- Display message not found
d. Display cities which have the given tree.
---- Accept a tree name from user and display all cities in which the tree is found.
e. Delete city ---- Accept city from user and delete the city if found.
---- Prompt user before deletion
f. Modify tree list
---- Accept city and trees to be added in the city. if city exist add trees at the end of the list
---- Otherwise add city and list
g. Exit

In [110]:
print("""
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities. 
c. Display list of trees of a particular city.
d. Display cities which have the given tree.
e. Delete city ---- Accept city from user and delete the city if found
f. Modify tree list ---- Accept city and trees to be added in the city.
g. Exit""")

a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
d. Display cities which have the given tree.
e. Delete city ---- Accept city from user and delete the city if found
f. Modify tree list ---- Accept city and trees to be added in the city.
g. Exit

In [1]:
dist={}

In [8]:
while True:
    case1 = input()
    match case1:
        case 'a':
            city= input("City Name:- ")
            trees = input("Commonly Found tree name:- ")
            dist[city]=trees
        case 'b':
            print(dist.items())
        case 'c':
            city= input("Enter City Name to get Tree name:- ")
            print(dist.get(city))
        case 'd':
            trees= input("Enter Tree name:- ")
            cityName = [x for x,y in dist.items() if y==trees]
            print(cityName)
        case 'e':
            city= input("Enter City Name to Delete:- ")
            if city in dist:
                print(dist.pop(city))
        case 'g':
            break
            print("Exited")

e
Enter City Name to Delete:- amba
e
Enter City Name to Delete:- amb
pine
b
dict_values(['bamboo', 'pine'])
g

In [5]:
print(dist)

{'amb': 'pine', 'pune': 'bamboo', 'parli': 'pine'}

# Q5. Take a sentence as input from user. Every word is seperated by space. 
a. Create a word_count dictionary which will have unique words and their count. 

b. create suffix_count dictionary which will contain count of words ending with 's', 'es', 'ed', 'y', 'en' , etc.

c. create dictionary word_length_count which will store length of word and count.
Ex. 
input_sent= 'CDAC is in Pune'
There are 2 words of length 4 and 2 words of length 2 so,
word_length_count = {2:2, 4:2}

In [16]:
sem = "Hell I am Student of DBDA and studying at IACSD Akurdi"
i=1
dist={}
# se=""
for x in sem:
    if x==" ":
#         print(se)
#         se=""
        s = dist.setdefault(i)
#         if s==None:
#             dist[i]=1
#         else:
#             dist[i]+=1
        dist[i] = 1 if (s==None)  else (dist[i]+1)
        i=0
        continue
    
    i+=1
#     se+=x
print(dist)

{5: 3, 1: 1, 2: 5, 7: 1, 4: 1, 3: 1, 8: 1}

In [116]:
t= tuple( x for x in range(5))
print(t, type(t))

(0, 1, 2, 3, 4) <class 'tuple'>