# Q1
WA function to take a number as parameter and  print True if given number is even else print False

In [5]:
 def func(num):
        if num%2==0:
            return "True"
        else:
            return "False"

num1=int(input("Enter number to check "))
print(func(num1))

Enter number to check 5
False

# Q2
Q WA function to take list as parameter and print all numbers of given list which are divisible by 11

In [8]:
def func1(list1):
    for i in list1:
        if i%11==0:
            print(i)
    return

l1=[15,55,657,25,99,22,121,22,36874,720720]
func(l1)

55
99
22
121
22
720720

# Q3
Q WA function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

In [18]:
def func2(string):
    if string==string[::-1]:
        print(1)
    else:
        print(0)
func2('abba')

1

# Q4
Q WA function to check if number is prime or not. Return True if number is prime and false if number not prime.

In [23]:
def func3(num1):
    num2=int(num1**0.5)
    for i in range(2,num2+1):
        if num1%i==0:
            print("False")
            return
    else:
        print("True")
        
func3(31)

True

# Q5
Q WA function to take a string as parameter. Print its alternate characters starting from 2nd character

In [26]:
def func4(string):
    for i in range(1,len(string),2):
        print(string[i],end=' ')
        
func4('Aditya')

d t a

In [27]:
def func4(string):
    print(string[1::2])
func4("SHIVAM")

HVM

# Q6
Q WA function to take dictionary as parameter. Print all keys of the dictionary

In [32]:
def func5(dict1):
    for i in dict1:
        print(i)
    print(list(dict1.keys()))
        
dic={1:"SHIVAM",2:"ADITYA",3:"SHREYAS"}
func5(dic)

1
2
3
[1, 2, 3]

# Q7
Q WA function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

In [33]:
def func6(dict1):
    if dict1['rollno']==100:
            print(dict1['name'])

    
dic1={"name":'SHIVAM','rollno':100}
func6(dic1)

SHIVAM

# Q8 
WA function to list of strings as parameter and print all strings which have character 's' 2 times

In [42]:
def func7(list1):
    for i in list1:
        v=i.count('s')
        if v==2:
            print(i)
        
lis1=['shivams','aditya','shreyas','ssss','ss']
func7(lis1)

shivams
shreyas
ss

# Q9
Q WA function to take list of dictionaries. Print all dictionaries which contain key "id".

In [48]:
def func8(lis1):
    for i in list1:
        v=list(i.keys())
        for j in v:
            if j=='id':
                print(i)
list1=[{'id':5,'name':'shivam'},{'rollno':45,'name':'aditya'},{'id':10,'name':'atharva'},{'rollno':44,'name':'soham'}]
func8(list1)

{'id': 5, 'name': 'shivam'}
{'id': 10, 'name': 'atharva'}