# Lambda Assignment

Q1 Sort all the numbers in a list in descending order using lambda function

In [7]:
l1=[10,20,30,40,56,12,89]
print(sorted(l1,key=lambda x:-x))

[89, 56, 40, 30, 20, 12, 10]

Q1 Sort all the numbers in a list in ascending order using lambda function

In [72]:
l1=[10,20,30,40,56,12,89]
print(sorted(l1,key=lambda x:x))

[10, 12, 20, 30, 40, 56, 89]

Q2 Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [77]:
#l1=['soham','ansh','nanu','shivam','xyz']
#print(sorted(l1,key=lambda x:x[-1]))
def sort1(str1):
        return str1[-1]
#print(sorted(l1,key= sort1()))
l1=['soham','ansh','nanu','shivam','xyz','shreyas','soham']
print(sorted(l1,key=sort1))

['ansh', 'soham', 'shivam', 'soham', 'shreyas', 'nanu', 'xyz']

Q3 Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [85]:
l1=['soham','ansh','nanu','shivam','xyz','shivam','nanu']
l1=list(set(l1))
def sort1(str1):
        return str1[1]
print(sorted(l1,key=sort1))

['nanu', 'shivam', 'ansh', 'soham', 'xyz']

In [87]:
l1=['soham','ansh','nanu','shivam','xyz','shivam','nanu']
print(sorted(list(set(l1)),key=(lambda x:x[1])))

['nanu', 'shivam', 'ansh', 'soham', 'xyz']

In [174]:
dict1={2: 'Kajal', 36: 'Ajay', 4: 'Riya', 5: 'Raj', 6: 'Ram'}
print(sorted(dict1.items(),key=lambda x:x))
print(sorted(dict1.values(),key=lambda x:x))

[(2, 'Kajal'), (4, 'Riya'), (5, 'Raj'), (6, 'Ram'), (36, 'Ajay')]
['Ajay', 'Kajal', 'Raj', 'Ram', 'Riya']

Q5. Take Employee id and Employee name of 5 employees from user. Store it in dictionary.
Print all employees in increasing order of employee Id .
Also print all employees in alphabetical order by name.

In [106]:
d1={1:"shivam",2:'Ajinkya',3:'soham',4:'ajinkya'}
print(sorted(d1.items(),key=(lambda k:k)))
print(sorted(d1.values(),key=(lambda k:k)))
print(sorted(d1.keys(),key=(lambda k:k)))

[(1, 'shivam'), (2, 'Ajinkya'), (3, 'soham'), (4, 'ajinkya')]
['Ajinkya', 'ajinkya', 'shivam', 'soham']
[1, 2, 3, 4]

Q6. Take comma separated numbers as input from the user.
Split it in list of strings. Now convert every string in this list to float using map function

In [99]:
s1='1 2 3 4 5 6 7 8 9'
print(list(map(float,s1.split(" "))))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

Q7 Given list of floating point numbers. 
Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [102]:
l1=[1.1,2.2,3.3,4.4,5.5]
print('|'.join(list(map(str,l1))))

1.1|2.2|3.3|4.4|5.5

Q8 Given list of integers.
Use map function to calculate square of all and store in list. Then print sum of all square values.

In [111]:
l1=[1,2,3,4,5,6,7,8,9,10]
def squ(n):
    return n**2
l2=map(squ,l1)
#print(sum(list(l2)))
print(sum(l2))

385